#configuration for our custom widget
<Connectivity>
  connectionType {{ connectionType }}
</connectivity>

<Account Information>
  Username {{ userName }}
  Password {{ userPassword }}
</Account Information>

<System Infromation>
  DistributionType {{ ansible_os_family }}
</System Information>
